#contact_modal {
	display: none;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	margin: 0 100px;
}

.photograph-name {
	margin: 0;
	color: #d3573c;
	font-size: 36px;
	font-weight: 500;
}

.photograph-info p:nth-child(2) {
	color: #901c1c;
}

.photograph-info p:last-child {
	color: #525252;
	font-size: 0.75rem;
}

.photograph-header img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.badge {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	display: flex;
	max-width: fit-content;
	align-items: center;
	background-color: #db8876;
	position: sticky;
	bottom: 0;
	float: right;
	margin-right: 2rem;
}

.badge p {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 0.75rem 2rem 0.75rem 2rem;
}

.badge p span {
	font-size: 22px;
	font-weight: 700;
	padding-left: 0.15rem;
}

.select-filter {
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 1rem 100px;
}

.custom-select {
	position: relative;
	display: flex;
	align-items: center;
}

#filter-label {
	font-weight: bold;
	margin-right: 20px;
	white-space: nowrap;
}

#filter {
	background-color: #901c1c;
	color: white;
	border: none;
	padding: 0.75rem;
	padding-right: calc(1rem + 2rem);
	font-size: 18px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
}

#filter::-ms-expand {
	display: none;
}

#filter + .arrow {
	position: absolute;
	color: white;
	font-size: 16px;
	padding-left: 4px;
	right: 1rem;
	transform: rotate(90deg);
	transition: transform 0.3s;
	pointer-events: none;
}

#filter:focus + .arrow {
	transform: rotate(-90deg);
}

.media_container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	margin: 0 100px;
}

.media_element {
	margin-bottom: 1.5rem;
	max-width: min-content;
}

.media_element_picture {
	width: 300px;
	height: 300px;
}

.media_element_picture img,
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.media_element_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	color: #901c1c;
}

.media_element_info p {
	margin: 0;
}

.media_element_title {
	font-size: 24px;
	font-weight: 400;
}

.media_element_like {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 22px;
	font-weight: 500;
}

.media_element_like_icon {
	font-size: 28px;
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

.contact_button:hover {
	background-color: #db8876;
	color: black;
}

.contact_button:focus {
	background-color: #db8876;
	color: black;
}

.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}
